
          

          .selecttopic select {
              border: none;
          }

          .selecttopic .dropdown-menu {
              margin-top: -20px;
          }

          .headernav .search {
              color: #363838;
              font-size: 14px;
              font-family: 'Open Sans Light', sans-serif;
              margin-top: 16px;
              height: 38px
          }

          .headernav .search  .wrap {
              background-color: #f3f5f9;
              border-radius: 3px;
          }

          .headernav .search .txt {
              width: 85%;
          }

          .headernav .search input {
              border: none;
              box-shadow: none;
              background-color: #f3f5f9;
              color: #363838;
              font-size: 14px;
              padding: 8px 19px;
              height: 38px;

          }


          .headernav .search button {
              border: solid 1px #697683;
              box-shadow: none;
              background-color: #697683;
              color: #ffffff;
              font-size: 18px;
          }

          /*--- Avatar ---*/
          .avt {
              margin-top: 16px;
              height: 38px;
          }

          .avt button {
              height: 38px;
              border: none;
              box-shadow: none;
              color: #ffffff;
              font-size: 14px;
              font-family: 'Open Sans Bold', sans-serif;
              padding-left: 30px;
              padding-right: 30px;
              background-color: #1abc9c;
          }

         
        

          .avatar {
              position: relative;
          }

          .avatar img {
              border-radius: 50%;
          }

          .avatar .status {
              position: absolute;
              right: 0;
              top: 0;
              width: 12px;
              height: 12px;
              line-height: 12px;
              border-radius: 50%;
              border: solid 2px #ffffff;
          }

         




          .sidebarblock {
              background-color: #ffffff;
              border-radius: 2px;
              box-shadow: 0 1px 2px #c9cccd;
              margin-bottom: 20px;
          }

          .sidebarblock h3 {
              color: #363838;
              font-size: 14px;
              font-family: 'Open Sans Bold', sans-serif;
              margin: 0;
              padding: 20px;


          }

          .sidebarblock .divline {
              height: 1px;
              line-height: 1px;
              border-bottom: solid 1px #f1f1f1;
          }

          .sidebarblock .blocktxt {
              padding:20px;
          }

          ul.cats li {
              list-style: none;
              display: block;
              margin:0;
              padding:0;
              line-height: 30px;
          }

          ul.cats {
              margin: 0;
              padding: 0;
          }

          ul.cats li a {
              font-size: 14px;
              color: #363838;
              font-family: 'Open Sans Light', sans-serif;
              line-height: 30px;
          }

          ul.cats .badge {
              background-color: #bdc3c7;
              font-size: 12px;
              color: #ffffff;
              font-family: 'Open Sans Bold', sans-serif;
              margin-top: 7px;
          }


          .sidebarblock .blocktxt {

              font-size: 14px;
              color: #363838;
              font-family: 'Open Sans Light', sans-serif;

          }


          .sidebarblock .blocktxt .smal {
              font-size: 12px;
          }

          .chbox {
              width: 50px;
          }

          table.poll {
              width: 100%;
          }

       

         

          /*--- Post --*/
          .post {
              

              border-radius: 2px;
              box-shadow: 0 1px 2px #c9cccd;
              margin-bottom: 20px;
          }

          .post .wrap-ut {
              width: 85%;
          }

          .post .userinfo {
              width: 15%;
              padding: 20px 0 15px 15px;
          }

          .post .posttext {
              width: 85%;
              padding-right: 30px;
              padding-top: 20px;
              padding-bottom: 15px;

              
              font-size: 14px;
              font-family: 'Open Sans Light', sans-serif;   
              line-height: 25px;
          }

          .post .postinfo {
              width: 15%;
              border-left: solid 1px #f1f1f1;


          }

          .post .avatar {
              width: 37px;
              margin-left: 5px;
          }

          .post .icons {
              width: 48px;
              border-top: solid 1px #f1f1f1;
              margin-top: 12px;
              padding-top: 7px;
          }

          .post h2 {
              
              font-size: 18px;
              
              margin-top: 10px;
              margin-bottom: 10px;
          }

          .post .comments {
              border-bottom: solid 1px #f1f1f1;
              padding: 18px 0 25px 0;
              text-align: center;
          }


          .post .comments .commentbg {
              background-color: #3071A9;
              border-radius: 50%;
              display: inline-block;
              padding: 12px 17px;
              color: #ffffff;
              font-size: 12px;
              font-family: 'Open Sans Bold', sans-serif; 
              position: relative;
          }

          .post .comments .commentbg .mark {
              width: 11px;
              height: 11px;
              background-color: #bdc3c7;
              position: absolute;
              bottom: 0;
              left: 43%;
              margin-bottom: -5px;
              transform:rotate(45deg);
              -ms-transform:rotate(45deg); /* IE 9 */
              -webkit-transform:rotate(45deg); /* Opera, Chrome, and Safari */
          }

          .post .views {
              border-bottom: solid 1px #f1f1f1;
              
              font-size: 12px;
              font-family: 'Open Sans Regular', sans-serif; 
              text-align: center;
              line-height: 29px;
          }

         

          .post .time {
             
              font-size: 12px;
              font-family: 'Open Sans Regular', sans-serif; 
              text-align: center;
              line-height: 29px;

          }

          .post .time i {
              font-size: 14px;
          }







       
          /*--- Large devices (more 1200px) ---*/
          @media (min-width: 1201px) {
              .container-fluid {
                  padding: 0;
              }

              .container {
                  padding: 0;
              }
          }
         
</style>